@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
}

#title {
    padding-top: 30px;
}

#description {
    font-size: 1.2em;
    font-style: italic;
    padding-bottom: 20px;
}

#survey-form {
    width: 550px;
    background-color: rgba(28, 28, 68, 0.8);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

.form-group {
    margin: 0 auto 1.25rem auto;
}

label, .form-group > p {
    display: flex;
    font-size: 1.2em;
    color: white;
    margin-bottom: 0.125rem;
}

.form-control, select {
    width: 100%;
    height: 1.7rem;
    padding-left: 0.5em;
}

.radio-button {
    margin-right: 0.5rem;
}

#notsure {
    margin-bottom: 10px;
}